@import "tailwindcss";

/*Theme is known from Tailwind CSS V4*/
@theme {
    
    /*primary off white background color*/
    --color-back: #e8e8e8;
    /*that dark blue background*/
    --color-sub-back: #516a7b;


    /*off color black*/
    --color-primary: #313131;
    /*that yellowish color*/
    --color-sub: #fff5d9;

    --color-sub-hover: #e0d3ae;

    /*
        Other colors that are used are white and black
    */
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.main {
    background-color: #e8e8e8;

    x: #e0d3ae;
    width: 100%;
    height: 100vh;
}